{{template "header.html" .}}
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">UBold</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Forms</a></li>
                                <li class="breadcrumb-item active">Elements</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Basic Elements</h4>
                    </div>
                </div>
            </div>     
            <!-- end page title --> 

            <!-- Form row -->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Register</h4>
                            <form action="/register" method="POST">
                                <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="username" class="col-form-label">First Name</label>
                                        <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Input first name" value="{{.RegisterUser.FirstName}}">
                                    </div>
                                </div>
                                {{if .FormError.FirstName}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.FirstName }}
                                    </div>
                                {{end}}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="first_name" class="col-form-label">Last Name</label>
                                        <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Input last name" value="{{.RegisterUser.LastName}}">
                                    </div>
                                </div>
                                {{if .FormError.LastName}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.LastName }}
                                    </div>
                                {{end}}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="last_name" class="col-form-label">Username</label>
                                        <input type="text" class="form-control" id="Username" name="Username" placeholder="Input user name" value="{{.RegisterUser.Username}}">
                                    </div>
                                </div>
                                {{if .FormError.Username}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.Username }}
                                    </div>
                                {{end}}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="email" class="col-form-label">Email</label>
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Input email" value="{{.RegisterUser.Email}}">
                                    </div>
                                </div>
                                {{if .FormError.Email}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.Email }}
                                    </div>
                                {{end}}

                                <div class="form-row">
                                    <div class="form-group col-md-6">
                                        <label for="password" class="col-form-label">Password</label>
                                        <input type="password" class="form-control" id="Password" name="Password" placeholder="Input password">
                                    </div>
                                </div>

                                {{if .FormError.Password}}
                                    <div class="alert alert-danger">
                                        <strong>Danger!</strong> {{ .FormError.Password }}
                                    </div>
                                {{end}}

                                <button type="submit" class="btn btn-primary waves-effect waves-light">Add</button>

                            </form>

                        </div> <!-- end card-body -->
                    </div> <!-- end card-->
                </div> <!-- end col -->
            </div>
            <!-- end row -->
            
        </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    

</div>
{{template "footer.html" .}}